* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../Images/funky-lines.webp");
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Kdam Thmor Pro', sans-serif;
    line-height: 1.5;   
}


/*
--------------------------------------------------------------------------
                                    Header
--------------------------------------------------------------------------
*/
header {
    height: 10vh;
    width: 100%;
    position: sticky; 
    top: 0px;  
    z-index: 10;
    background-image: url("../Images/funky-lines.webp");
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    height: 100%;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none; 
    font-size: 1.5em;
    height: 100%;
    margin-right: 25px;
}

nav ul li {
    color: #41454e;
    text-decoration: none;
    border: 3px solid #41454e;
    border-radius: 25%;
    padding: 6px;
    box-shadow: 3px 4px rgba(65, 69, 78, 255);
    font-weight: 200;
    font-size: 0.8em;
    background-color: transparent;
    margin-left: 15px;
}

nav a {
    text-decoration: none;
    color: #41454e;
}

nav ul li:hover, nav a:hover {
    color: #F5F7F3;
    background-image: url("../Images/denim.webp");
    transition-timing-function: ease-in;
    cursor: pointer;
    transition: all 0.3s ease;
    border: 3px solid rgba(65, 69, 78, 255);
}

nav ul li:active, nav a:active {
    box-shadow: 1px 2px rgba(65, 69, 78, 255);
    transform: translateY(4px);
    transition: all 0.3s ease;
}


h1, #home h2 {
    transform:
        perspective(750px) translate3d(0px, 0px, -100px) rotateX(27deg) scale(0.9, 0.9);
    border-radius: 20px;
    border: 5px solid #e6e6e6;
    box-shadow: 0 70px 40px -20px rgba(0, 0, 0, 0.2);
    transition: 0.4s ease-in-out transform;

    &:hover {
        transform: translate3d(0px, 0px, -250px);
        opacity: 1;
    }
}

 .titleHeader {
    color: #41454e;
    letter-spacing: 1.5px;
    margin-left: 25px;
    font-size: 3vh;

    
    transform: perspective(1500px) rotateY(15deg);
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    transition: transform 1s ease 0s;
    &:hover {
            transform: perspective(3000px) rotateY(5deg);
        }
}

#projects h3 {
    transform:
            scale(1.1) rotateY(-30deg) rotateX(45deg) translateZ(4.5rem);
        transform-origin: 50% 100%;
        transform-style: preserve-3d;
        box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.25);
        transition: 0.8s ease transform;
}

#projects h3:hover {
    transform: scale(1);
}

#projects h3::before {
    transform: translateZ(4rem);

    &:hover {
        transform: translateZ(0);
    }
}

#projects h3::after {
    transform: translateZ(-4rem);

    &:hover {
        transform: translateZ(-1px);
    }
}

#experience h3 {
    transform: rotateX(51deg) rotateZ(43deg);
        transform-style: preserve-3d;
        border-radius: 32px;
        box-shadow:
            1px 1px 0 1px #f9f9fb,
            -1px 0 28px 0 rgba(34, 33, 81, 0.01),
            28px 28px 28px 0 rgba(34, 33, 81, 0.25);
        transition:
            .4s ease-in-out transform,
            .4s ease-in-out box-shadow;
    
        &:hover {
            transform:
                translate3d(0px, -16px, 0px) rotateX(51deg) rotateZ(43deg);
            box-shadow:
                1px 1px 0 1px #f9f9fb,
                -1px 0 28px 0 rgba(34, 33, 81, 0.01),
                54px 54px 28px -10px rgba(34, 33, 81, 0.15);
        }
}

.menuList {
    color: #41454e;
    border: 3px solid #41454e;
    border-left: none;
    padding: 10px;
    height: 100vh;
    width: 50vw;
    font-size: 3vw;
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0px;
    z-index: 1000;
    opacity: 0.9;
    background-color: #F5F7F3;
}

.menuList ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;

}

.menuList ul li:hover {
    cursor: pointer;
    opacity: 0.5;
    border-radius: 20%;

}

/*
--------------------------------------------------------------------------
                                    Main
--------------------------------------------------------------------------
*/

/* 
---------------------------
        Home Section 
---------------------------
*/

#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    color: #41454e;
    padding-bottom: 5vh;
}

#home img {
    border-radius: 40%;
    height: 800vh;
    width: 500vw;
    margin: 40px;
    padding: 0;
    align-content: center;
}

h1, h2 {
    text-align: center;
}

h1 {
    font-size: 300%;
    max-width: 70vw;
    position: relative;
}

h2 {
    font-size: 130%;
    font-weight: 200;
    max-width: 70vw;
}

/* 
---------------------------
     About Me Section 
---------------------------
*/

#aboutMe h3 {
    font-size: 1.3em;
    font-weight: 900;
}

#aboutMe p {
    width: 60%;
    font-weight: 100;
    margin-top: 10px;
    letter-spacing: 2px;
    font-size: 2.2vh;
}

#aboutMe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../Images/denim.webp");
    color: #F5F7F3;
    height: 100vh;
}

table {
    margin-top: 50px;
    border: 3px solid #F5F7F3;
    text-align: center;
}

th {
    width: 100%;
}
table td, table th {
    text-align: center;
    padding: 15px;
}

.tableHeader {
    font-size: 1.5em;
    font-weight: 500;
}

.tableSubHeader {
    font-size: 1.2em;
    font-weight: 500;
}

td {
    font-size: 0.9em;
}

/* 
---------------------------
      Projects Section 
---------------------------
*/

#projects {
    background-image: url("../Images/funky-lines.webp");
    color: rgba(65, 69, 78, 255);
    display: flex;
    height: 100vh;
    justify-content: space-around;
    align-items: center;
}

#projects h3 {
    font-size: 4vw;
    border: 2px solid rgba(65, 69, 78, 255);
    box-shadow: 5px 6px rgba(65, 69, 78, 255);
    padding: 10px;
}

.project {
    width: 30%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.eachProject {
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 6px;
}

.eachProject:hover {
    background-image: url("../Images/denim.webp");
    color: #F5F7F3;
    border: 2px solid #F5F7F3;
    opacity: 0.9;
    box-shadow: 5px 6px rgba(65, 69, 78, 255);
}

/* 
---------------------------
     Experience Section 
---------------------------
*/
#experience {
    background-image: url("../Images/denim.webp");
    color: #F5F7F3;
    display: flex;
    height: 100vh;
    justify-content: space-around;
    align-items: center;
}

#experience h3 {
    font-size: 4vw;
    border: 2px solid #F5F7F3;
    box-shadow: 5px 6px #F5F7F3;
    padding: 10px;
}


.companies {
    width: 30%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.eachCompany {
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 6px;
}

.eachCompany h4 {
    font-size: 2.5vw;
    font-weight: 400;
    text-decoration: underline;
}

.eachCompany h5 {
    font-size: 1.5vw;
    font-weight: 200;

}

.eachCompany h6 {
    font-size: 1.2vw;
    font-weight: 200;

}

.eachCompany p {
    font-size: 1vw;
}

.eachCompany:hover {
    border: 2px solid #F5F7F3;
    opacity: 0.9;
    box-shadow: 5px 6px #F5F7F3;
}

/*
--------------------------------------------------------------------------
                                Footer CSS 
--------------------------------------------------------------------------
*/
footer {
    color: rgba(65, 69, 78, 255);
    background-image: url("../Images/funky-lines.webp");
    height: 100vh;
    margin-bottom: 0px;
    clear: both;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

footer p{
    width: 50vw;
    font-size: 2.2vh;
}

.quoteFooter {
    padding-top: 30vh;
}


.copyrightFooter {
    padding-bottom: 10vh;
    position:relative;
    -webkit-text-stroke: 0.3vw #F5F7F3;

}

.copyrightFooter::before {
    content: attr(data-text);
    position:absolute;
    top:0;
    left:0;
    width:0;
    height: 100%;
    color:#41454e;
    -webkit-text-stroke: 0vw #41454e;
    border-right: 2px solid #F5F7F3;
    overflow: hidden;
    animation: animate 7s infinite;
}

@keyframes animate {

    0%,
    30%,
    100%
    {
        width: 0%;
    }

    70%,
    90% {
        width: 100%;
    }
}

footer ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
}

footer img {
    height: 30px;
    padding: 10px;
}

footer img:hover {
    opacity: 0.4;
    transform: scale(1.3);
}



/*
--------------------------------------------------------------------------
                                Icons CSS 
--------------------------------------------------------------------------
*/
.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 700,
        'GRAD' 0,
        'opsz' 24
}

.icons {
    vertical-align: sub;
    font-size: 38px;
}

.menuIcons {
    vertical-align: middle;
}


.tableIcons {
    width:18px;
    vertical-align: middle;
    text-align: center;
}


/*
--------------------------------------------------------------------------
                            Responsive Design
--------------------------------------------------------------------------
*/

@media only screen and (max-width: 460px) {
    .body {
        width: 100vw;
    }

/* 
---------------------------
        Nav Section 
---------------------------
*/
    .titleHeader {
        display: none;
    }

    nav ul {
        display: none;
    }

    .menuButtonSection img{
        height: 10vh;
        width: 10vw;
        margin-right: 25px;
        margin-top: 25px;
    }

/* 
---------------------------
        Home Section 
---------------------------
*/
    #home img {
        min-width: 35vw;
        min-height: 35vh;
        max-width: 40vw;
        max-height: 40vh;
    }

    #home h1 {
        font-size: 200%;
    }

    #home h2 {
        font-size: 100%;
    }
/* 
---------------------------
     About Me Section 
--------------------------- 
*/
    #aboutMe {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url("../Images/denim.webp");
        color: #F5F7F3;
        height: 110vh;
        text-align: center;
    }

    #aboutMe p {
        width: 60%;
        font-weight: 100;
        margin-top: 10px;
        letter-spacing: 2px;
        font-size: 1.8vh;
    }
/* 
---------------------------
     Projects Section 
--------------------------- 
*/
    #projects h3 {
        font-size: 7vw;
        border: 2px solid rgba(65, 69, 78, 255);
        box-shadow: 5px 6px rgba(65, 69, 78, 255);
        padding: 10px;
    }

/* 
---------------------------
     Experience Section 
--------------------------- 
*/
    .eachProject h4{
        font-size: 5vw;
    }

    .eachCompany {
        height: 30%;
        width: 40vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 6px;
    }


    .eachCompany h4 {
        font-size: 4.5vw;
        font-weight: 400;
        text-decoration: underline;
    }

    .eachCompany h5 {
        font-size: 3.5vw;
        font-weight: 200;

    }

    .eachCompany h6 {
        font-size: 3vw;
        font-weight: 200;

    }

    .eachCompany p {
        font-size: 2.5vw;
    }

    .menuList {
        display: none;
    }

    .menuList a {
        text-decoration: none;
        color: #41454e;
    }
}

@media only screen and (min-width: 461px) and (max-width: 800px) {
    .body {
            width: 100vw;
        }

/* 
---------------------------
        Nav Section 
---------------------------  
*/
        .titleHeader {
            display: none;
        }
    
        nav ul {
            display: none;
        }
    
        .menuButtonSection img {
            height: 10vh;
            width: 10vw;
            margin-right: 25px;
            margin-top: 25px;
        }

/* 
---------------------------
     Home Section 
---------------------------  
*/
        #home img {
            min-width: 20vw;
            min-height: 35vh;
            max-width: 25vw;
            max-height: 40vh;
        }
    
        #home h1 {
            font-size: 200%;
        }
    
        #home h2 {
            font-size: 100%;
        }

/* 
---------------------------
     About Me Section 
---------------------------  
*/
        #aboutMe {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-image: url("../Images/denim.webp");
            color: #F5F7F3;
            height: 110vh;
            text-align: center;
        }
/* 
---------------------------
     Experience Section 
---------------------------  
*/
        .eachCompany {
            height: 30%;
            width: 40vw;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            padding: 6px;
        }
    
        .eachCompany h4 {
            font-size: 4.5vw;
            font-weight: 400;
            text-decoration: underline;
        }
    
        .eachCompany h5 {
            font-size: 3.5vw;
            font-weight: 200;
    
        }
    
        .eachCompany h6 {
            font-size: 3vw;
            font-weight: 200;
    
        }
    
        .eachCompany p {
            font-size: 2.5vw;
        }
    
        .menuList {
            display: none;
        }
    
        .menuList a {
            text-decoration: none;
            color: #41454e;
        }

}

@media only screen and (min-width: 801px){
    .body {
        width: 100vw;
    }
/* 
---------------------------
        Nav Section 
---------------------------  
*/
    .menuButtonSection {
        display:none;
    }

    .menuButtonSection img {
        display:none;
    }

    header {
        height: 10vh;
    }

    nav ul li {
        font-size: 2vh;
        background-color: transparent;
        margin-left: 15px;
    }

    .icons {
        vertical-align: sub;
        font-size: 28px;
    }
/* 
---------------------------
     Home Section 
---------------------------  
*/
    #home img {
        min-width: 10vw;
        min-height: 35vh;
        max-width: 13vw;
        max-height: 40vh;
    }

    #home h1 {
        font-size: 300%;
    }

    #home h2 {
        font-size: 130%;
    }

/* 
---------------------------
     About Me Section 
---------------------------  
*/
    #aboutMe {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url("../Images/denim.webp");
        color: #F5F7F3;
        height: 110vh;
        text-align: center;
    }

/* 
---------------------------
     Experience Section 
---------------------------  
*/
    .eachCompany {
        height: 30%;
        width: 40vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 6px;
    }

    .eachCompany h4 {
        font-size: 2vw;
        font-weight: 400;
        text-decoration: underline;
    }

    .eachCompany h5 {
        font-size: 1.5vw;
        font-weight: 200;

    }

    .eachCompany h6 {
        font-size: 1vw;
        font-weight: 200;

    }

    .eachCompany p {
        font-size: 1vw;
    }

    .menuList {
        display: none;
    }

    .menuList a {
        text-decoration: none;
        color: #41454e;
    }

}